@import "/fontawesome-free-6.5.1-web/scss/fontawesome.scss";
@import  "/fontawesome-free-6.5.1-web/scss/solid.scss";

$white: #FFFFFFff;
$rich-black: #00171Fff;
$prussian-blue: #003459ff;
$cerulean: #007EA7ff;
$picton-blue: #00A8E8ff;
$background: #efefef;

//Color Palate: https://coolors.co/visualizer/ffffff-00171f-003459-007ea7-00a8e8

@keyframes tilt-n-move-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.notification_button {
  @include fa-icon-solid($fa-var-bell);
}

.post_button {
  @include fa-icon-solid($fa-var-add);
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  align-items: center;
  background-color: $white;
  height: 2.5em;
  padding-bottom: 10px;

  & > :first-child {
    display: flex;
    align-items: center;
    justify-content: center;

    & > img {
      height: 2.25em;
      aspect-ratio: 1;
    }

    & > h1 {
      margin: 0px;
      margin-left: 10px;
      color: $picton-blue;
      text-decoration: underline 5px $picton-blue;
    }
  }

  & > input:nth-child(2) {
    height: 2.25em;
    border-radius: 0.25em;
    border: none;
    padding-left: 10px;
    background-color: $background;
    color: $rich-black;
  }

  & > :nth-child(3) {
    display: flex;
    justify-content: center;
    
    button {
      width: 2em;
      height: 2em;
      background-color: transparent;
      border: none;
      font-size: 1.5em;
      color: $prussian-blue;
      transition: color 2500ms cubic-bezier(0.075, 0.82, 0.165, 1);

      &:hover {
        color: $cerulean;
      }
    }
  }
}

.content {
  margin-top: 5em;
  width: 35em;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

$base-margin: 15px;
$post-margin: 4em;

.user_post {
  & > h1 {
    margin: 0px 0px $base-margin 0px;
  }

  & > p {
    margin: $base-margin 0px 0px 0px;
  }

  & > sub {
    margin: 0px 0px $base-margin 0px;
  }
}

.post {
  background-color: $white;
  width: 100%;
  height: fit-content;
  margin-bottom: $post-margin;
  
  padding: $base-margin * 2;
  border-radius: 1rem;
}

.tag_selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > h1 {
    margin: 0px 0px $base-margin 0px;
    color: $cerulean;
    text-decoration: solid 5px $cerulean;
  }
  
  & > :nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-bottom: $base-margin;
    border-radius: 0.5rem;
    height: fit-content;
    padding: $base-margin;
    width: -webkit-fill-available;

    & > p {
      color: $prussian-blue;
      font-style: italic;
    }

  }

  & > :nth-child(3) {
   display: flex;
   align-items: center;

    & > div {
      display: flex;
      justify-content: center;
      height: 1.75em;
      width: -webkit-fill-available;

      & > input {
        padding: $base-margin;
        padding-left: $base-margin * 2;
        background-color: $background;
        color: $rich-black;
        border-radius: .25rem 0px 0px .25rem;
        border: none;
      }

      & > button {
        padding: $base-margin;
        background-color: $background;
        color: $rich-black;
        border-radius: 0px .25rem .25rem 0px;
        border: none;
        @include fa-icon-solid($fa-var-add);
      }
    }

    & > button[type="reset"] {
      background-color: transparent;
      border: none;
      color: $cerulean;
      display: flex;
  
      & > span {@include fa-icon-solid($fa-var-refresh); margin-right: $base-margin;}
    }
  }
  
}

.tag_item {
  display: block;
  list-style: none;
  padding: 10px;
  background-color: $picton-blue;
  color: $white;
  border-radius: 0.5rem;
  margin: 0px 10px;
  height: fit-content;
  width: max-content;
  margin: 5px;

  & > button {
    color: $white;
    margin-left: 5px;
    background: none;
    border: none;
    @include fa-icon-solid($fa-var-close);
  }

  &:has(> button:hover) {
    animation: tilt-n-move-shaking 250ms infinite cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}