@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	font-weight: 600;

	display: flex;
	gap: 0.5rem;
	align-items: center;
}

textarea {
	background-color: rgb(177 187 200 / 0.25);
	border-radius: 0.25rem;
	padding: 1rem;

	resize: none;
	outline: none;
}

button,
a,
input[type="button"] {
	cursor: pointer;
}
