@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.full-center {
	@apply flex flex-row justify-center items-center;
}

.head-btn {
	@apply p-2 rounded text-lg outline outline-1 text-title outline-outline h-8 gap-2 full-center;
}

.btn {
	@apply px-2 py-1 font-medium rounded text-white;
}

.island-link {
	@apply flex flex-row items-center text-lg gap-1 font-medium pl-4 py-1 transition-colors;
}

.post {
	@apply gap-2 grid grid-cols-post grid-rows-post px-4 py-6 border-b last:border-none border-outline w-post h-fit;
}

.btn-transition {
	@apply hover:scale-90 hover:shadow-md transition-all active:scale-110
}

textarea {
	background-color: rgb(177 187 200 / 0.25);
	border-radius: 0.25rem;
	padding: 1rem;

	resize: none;
	outline: none;
}

@layer base {
	@media (prefers-color-scheme: light) {
		:root {
			--color-white: 255 255 255;
			--color-background: 255 255 255;
			--color-header: 246 248 250;
			--color-button: 82 96 119;

			--color-subtitle: 100 116 139;
			--color-title: 0 0 0;
			--color-text: 51 65 85;

			--color-accent: 42 157 143;
			--color-warning: 237 103 34;

			--color-outline: 208 215 222;
		}
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--color-white: 0 0 0;
			--color-background: 13 17 23;
			--color-header: 1 4 9;
			--color-button: 51 65 85;

			--color-subtitle: 127 140 160;
			--color-title: 255 255 255;
			--color-text: 196 205 218;

			--color-accent: 42 157 143;
			--color-warning: 237 103 34;

			--color-outline: 48 54 61;
		}
	}
}
button,
a,
select,
input[type="button"] {
	cursor: pointer;
}
